* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
 font-size: 18px;
 font-family: "Barlow", sans-serif;
 font-family: "Fraunces", serif;
}

/* Topography */

header {
	height :100vh;
	background-image: url("images/desktop/image-header.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	color: white;
	padding: 16px;
}


p {
	margin: 2em 0;
	line-height: 30px;
	font-family: "Barlow", sans-serif;
}
	/* navigation */
nav{
	display: flex;
	justify-content: space-between;
	text-align: center;
	margin: 20px 0;
}

nav ul {
	display: flex;
}

nav li {
	list-style: none;
	margin: 0 25px;
}


a {
	text-decoration: none;
	color: white;
	padding: 10px;
}

 a:hover {
	color: black;
	background-color: white;
	padding: 10px;
	border-radius: 5px;
}


/* layout */

.head-featured ,h1{
	/* border: 1px solid brown; */
	text-align: center;
	/* margin-top: 7em; */
	font-size: 50px;
}

.image-arrow {
	margin-top: 150px;
} 


/* Grid */

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	
}

.grid-section {
	height:  600px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	font-family: "Fraunces", serif;
}

.box-1 ,.box-4 {

	width: 55%;
	margin: 0 auto;
	text-align: start;	
}

.text .text-info {
	text-align: start;
	margin: 2em 0;
	line-height: 30px;
	font-family: "Barlow", sans-serif;
	color:  hsl(198, 62%, 26%);
}

.title-info  {
	text-align: start;
	font-weight: 700;
}


.box-2 {
	background-image: url("images/desktop/image-transform.jpg");
	
}

.box-3 {
	background-image: url("images/desktop/image-stand-out.jpg");
}

.box-5 {
	background-image: url("images/desktop/image-graphic-design.jpg");
}

.graphic-info {
	color:  hsl(198, 62%, 26%);
	display: flex;
	flex-direction: column;
	width:50%;
	margin-top: 50%;
	text-align: center;
}

.box-6 {
	background-image: url("images/desktop/image-photography.jpg");
}

/* Article */

.article-container {
	width: 80%;
	margin: 7em auto;
	text-align: center;
}

.article-title {
	margin-bottom: 2em;
	color:  hsl(198, 62%, 26%);
	font-weight: 600;
}

.article-align {
	display: flex;
	justify-content: space-between;
}

.article-item {
	margin: 0 30px;
	text-align: center;
}

.article-image {
	border-radius: 50%;
	width: 20%;
}

.image-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	
}

 .image-item {
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

} 

.image-item1 {
	background-image: url("images/desktop/image-gallery-milkbottles.jpg");
}

.image-item2 {
	background-image: url("images/desktop/image-gallery-orange.jpg");
}

.image-item3 {
	background-image: url("images/desktop/image-gallery-cone.jpg");
}

.image-item4 {
	background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
}


/* FOOTER */

.foot-container {
	background-color: hsl(168, 34%, 41%);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding-bottom: 50px;

}
.foot-logo {
	color:  hsl(198, 62%, 26%);
	padding-top: 40px;
}

.foot-item  {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 20%;
	margin: 0 auto;
	margin-top: 40px;
}
.hamburger{
	display: none;
}
.icon-item {
	width: 10% ;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	margin-top: 50px;

}


@media (max-width:500px) {
	.grid-container {
		grid-template-columns: 1fr;
	}
	.hamburger{
		display: block;
	}
	nav ul {
		display: none;
	}
	.article-align {
		flex-direction: column;
	}
	.image-container {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.foot-item {
	width: 100%;
	padding: 30px;
	}

	.icon-item {
		width: 20%;
	 	margin-left: 30%;
		margin-right: 50%;
	}
	
.image-item {
	height: 200px;
}

}